body {
  background: url(https://ak.picdn.net/shutterstock/videos/7015843/thumb/1.jpg) repeat;
}

.polaroid-gallery {
  text-align: center;
}

.polaroid-gallery-title {
  margin-left: 40%;
  margin-right: 40%;
/*   background: black; */
  font-size: 100px;
  font-size-adjust: auto;
  font-family: 'Cookie', cursive;
  font-weight: 900;
  /* e6af2e */
  color: #faf4e1;
  margin-bottom: 7rem;
}

.polaroid-card {
  display: inline-block;
  background-color: #eee6d8;
  padding: 10px;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.7);
}

.polaroid-card-caption {
  text-align: center;
  font-family: "Marker Felt",sans-serif;
  font-size: 12px;
  margin-top: 6px;
  letter-spacing: 2px;
}

.polaroid-card:nth-of-type(even) {
  transform: rotate(12deg);
}

.polaroid-card:nth-of-type(odd) {
  transform: rotate(-12deg);
}

.polaroid-card:nth-of-type(even)::before {
  content: '';
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 100px;
  height: 25px;
  transform: rotate(-24deg) translate(-30px, -25px);
}

.polaroid-card:nth-of-type(odd)::before {
  content: '';
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 100px;
  height: 25px;
  transform: translate(140px, -5px) rotate(25deg);
}

.polaroid-card:hover {
  transform: scale(1.5);
}
@media (max-width: 1000px) {
  .polaroid-gallery-title{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  .polaroid-card{
   margin-left: 25%;
   margin-right: 25%;
    width: 300;
    height: 300;
  }

}
